#fon{
		width: 100%;
		height: 600px;
		
		background-image: url(../image/fon.bmp);
}

#header, #footer{
	background-image: url(../image/fon.bmp);
	margin: 0px;
}

#example{
	margin-bottom: -2px;
	padding:0px;
}
#menu_canv{
	margin-top: -2px;
	padding:0px;
}